// Here you can add other styles
.custom-main-container{
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-self: center;
}
